/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body {
    font-family: "Fira Sans", sans-serif;
    margin: 0;
    padding: 0;
    font-size: 12px;
}



.container {
    max-width: 800px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.invoice-header,
.invoice-body,
.footers{
    padding: 20px;
}

.invoice-header {
    display: flex;
    justify-content: space-between;
    
}

.invoice-header img {
    width: 138px;
    height: auto;
}

.invoice-body table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.invoice-body th {
    /* border: 1px solid #ccc; */
    padding:8px;
    text-align: left;
    border-bottom: 1px solid #111118;
   
}

.invoice-body th, .invoice-body td {
    padding: 10px;
}

.signature{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}


.text-title{
    font-size: 32px;
    font-weight: 700;
}
.text-style{
    
    font-weight: 700;
    font-family: "Inter", sans-serif;
}
.text-styles{
    font-weight: 500;
}
.text-name{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: #284b63;
}
/* footer */
.footers{
    background-color: #284b63;
    height: auto;
}
.invoice-footer {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center; 
    color: white;
    
}

.hr-cls{
    padding: 7px auto;
}
.footer-img{
    width: 5.25px;
}